
<div class="p-4 max-w-lg mx-auto bg-white  " >

  <form #searchForm="ngForm" (ngSubmit)="searchProducts(searchForm)" class=" flex items-center space-x-2">
    <div class="">
      <input
        type="text"
        id="keyword"
        name="keyword"
        ngModel
        #keyword="ngModel"
        required
        minlength="2"
        class="p-2 border border-yellow-600 rounded-md w-full"
        placeholder="Enter product name or description"
      />
      <div *ngIf="keyword.invalid && (keyword.dirty || keyword.touched)" class="text-red-500 text-sm mt-1">
        <div *ngIf="keyword.errors?.['required']">Keyword is required.</div>
        <div *ngIf="keyword.errors?.['minlength']">Keyword must be at least 2 characters long.</div>
      </div>
    </div>
    <button class="bg-blue-500 text-white py-2 px-4 rounded-r-md   rounded-md w-full hover:bg-blue-600 disabled:opacity-50"
    type="submit"
      [disabled]="searchForm.invalid">
      <i class="fas fa-search"></i>
    </button>
    <p *ngIf="errorMessage" class="text-red-500">{{ errorMessage }}</p>
  </form>

  <div *ngIf="filteredProducts.length > 0" class="mt-4">
    <ul class="list-disc pl-5 space-y-2">
      <li *ngFor="let product of filteredProducts" class="border-b border-gray-200 pb-2">
        <strong>{{ product.name }}</strong> - {{ product.description }}
      </li>
    </ul>
  </div>

  <div *ngIf="filteredProducts.length === 0 && !errorMessage" class="mt-4 text-gray-500">
    No products found.
  </div>

